* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: rgb(200, 200, 200);
    overflow-x: hidden;
}

body {
    background-color: rgb(40, 40, 40);
}

.app-box {
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    place-content: center;
}

.app-content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}


.app-folder-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 80%;
    border-bottom: 1px solid gray;
}

.app-folder-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 80%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.folder-box-data {
    display: flex;
    min-width: 80%;
    flex-direction: column;
    background-color: rgb(99, 99, 99);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 5px black;
}

.folder-box-data:empty {
    display: none;
}

.folder-element {
    padding: 3px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.folder-element li {
    cursor: pointer;
}

.folder-element a:hover {
    color: white;
}

.folder-element button {
    color: black;
    padding: 5px;
    font-weight: 800;
    border-radius: 10;
    background-color: rgb(170, 170, 170);
    cursor: pointer;
}

.folder-element button:hover {
    background-color: red;
}

#folder-back-button {
    color: black;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10;
    background-color: rgb(170, 170, 170);
    cursor: pointer;
}

#folder-back-button:hover {
    background-color: white;
}

.app-file-content {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
    min-width: 80%;
    margin-bottom: 20px;
}

.app-file-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 80%;
}

.app-file-box h3 {
    margin-bottom: 20px;
}

.file-box-data {
    display: flex;
    flex-direction: column;
    background-color: rgb(99, 99, 99);
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    min-width: 80%;
    box-shadow: 2px 2px 5px black;
}
.file-box-data:empty {
    display: none;
}

.file-element {
    padding: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.file-element-btn-box {
    gap: 5px;
}

.file-element a:hover {
    color: white;
}

.file-element button {
    color: black;
    padding: 5px;
    font-weight: 800;
    border-radius: 10;
    background-color: rgb(170, 170, 170);
    cursor: pointer;
}

.file-element button:hover {
    background-color: red;
}

.app-file-upload-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.app-file-upload-box-header {
    margin-bottom: 20px;
}

.file-upload-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 60%;
}

#fileInput {
    min-width: 80%;
}

#uploadBtn {
    color: black;
    font-weight: 800;
    padding: 5px;
    background-color: rgb(170, 170, 170);
}


.app-create-folder-box {
    display: flex;
    min-width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
    margin-top: 20px;
}

.app-create-folder-header {
    margin-bottom: 20px;
}

.app-create-folder-form {
    display: flex;
    max-width: 250px;
    min-width: 250px;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

#folderInput {
    padding: 5px;
    color: black;
    text-shadow: none;
}

#createFolderBtn {
    color: black;
    font-weight: 800;
    padding: 5px;
    background-color: rgb(170, 170, 170);
}

#progressContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.app-rename-file-box {
    visibility: hidden;
    opacity: 0;
    top: 50%;
    transform: translateY(-100%);
    padding: 20px;
    min-width: 400px;
    min-height: 200px;
    box-shadow: 2px 2px 5px black;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(80, 80, 80);
    border-radius: 10px;
    transform: translate();
    position: absolute;
    display: flex;
    flex-direction: column;
    transition-property: "visibility", "opacity";
    transition-duration: 0.5s;
}
.open{
    visibility: visible;
    opacity: 1;
}

.app-rename-file-box-content {
    display: flex;
    margin-top: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#file-rename-input {
    font-size: 18px;
    background-color: gray;
    min-height: 30px;
    min-width: 300px;
}

.app-rename-file-box-button-box {
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.open .app-rename-file-box-button-box {
    visibility: visible;
    opacity: 1;
}

#file-rename-ok-btn {
    color: black;
    font-weight: 800;
    min-width: 100px;
    padding: 5px;
    background-color: rgb(170, 170, 170);
    transition-property: "background-color";
    transition-duration: .5s;
}
#file-rename-ok-btn:hover {
    background-color: rgb(30, 255, 0);
}

#file-rename-c-button {
    color: black;
    font-weight: 800;
    min-width: 100px;
    padding: 5px;
    background-color: rgb(170, 170, 170);
    transition-property: "background-color";
    transition-duration: .5s;
}
#file-rename-c-button:hover {
    background-color: red;
}